QWidget{
    background: #262D37;
    width: 1200px;
    height: 800px;
}
QPushButton{
    color: #fff;
    padding: 5px 10px;
    font-weight: 12pt;
    font-size: 12pt;
    font: Oswald;
}
QPushButton:hover{
    background: #262D80;
}